<div class="page-header">
  <h1><i class="glyphicon glyphicon-bookmark"></i> Editing Team</h1>
</div>

<%= render 'form' %>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-user"></i> Team Members</h2>
</div>

<p><%= link_to 'Add Team Member', new_team_member_path, class: 'btn btn-primary' %></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Athlete</td>
      <th>Joined On</td>
      <th>Actions</td>
    </tr>
    </thead>
    <tbody>
    <% @team.team_members.each do |team_member| %>
        <tr>
          <td><%= link_to team_member.user.name, team_member.user %></td>
          <% if @team.isPendingMember?(team_member.user) %>
            <td>Pending Invite</td>
              <td>
                <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, @team.isPendingMember?(team_member.user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              </td>
          <% else %>
            <td><%= @team.isMember?(team_member.user).date %></td>
              <td>
                <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, @team.isMember?(team_member.user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              </td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>


