<div class="page-header">
  <h2><i class="glyphicon glyphicon-envelope"></i> Pending Invites</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Tag</th>
      <th>Leader</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @teams_pending.each do |team| %>
        <tr>
          <% if team.logo %>
              <td><img width="100" class="thumbnail" src="<%= team.logo %>" /></td>
          <% else %>
              <td><i class="glyphicon glyphicon-flag"></i></td>
          <% end %>
          <td><%= link_to team.name, team %></td>
          <td><%= team.tag %></td>
          <td><%= link_to team.user.name, team.user %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-ok"></i>'.html_safe, team.isPendingMember?(@current_user), class: 'btn btn-sm btn-default' %>
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, team.isPendingMember?(@current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h1><i class="glyphicon glyphicon-bookmark"></i> My Teams</h1>
</div>

<p><%= link_to 'New Team', new_team_path, class: 'btn btn-primary' %></p>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th>Tag</th>
      <th>Leader</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <% if team.logo %>
        <td><img height="70" class="thumbnail" src="<%= team.logo %>" /></td>
        <% else %>
        <td><i class="glyphicon glyphicon-flag"></i></td>
        <% end %>
        <td><%= team.name %></td>
        <td><%= team.tag %></td>
        <td><%= link_to team.user.name, team.user %></td>
        <td>
          <%= link_to '<i class="glyphicon glyphicon-list-alt"></i>'.html_safe, team, class: 'btn btn-sm btn-default' %>
          <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, team.isMember?(@current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          <% if team.user.id == @current_user.id %>
              <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_team_path(team), class: 'btn btn-sm btn-warning' %>
              <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, team, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
