<div class="page-header">
  <h1><i class="glyphicon glyphicon-bookmark"></i> <%= @team.name %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <td><strong>Photo:</strong></td>
      <% if @team.logo %>
          <td><img class="thumbnail" src="<%= @team.logo %>" style="max-with: 1000px;" /></td>
      <% else %>
          <td><i class="glyphicon glyphicon-flag"></i></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>Tag:</strong></td>
      <td><%= @team.tag %></td>
    </tr>
    <tr>
      <td><strong>Leader:</strong></td>
      <td><%= link_to @team.user.name, @team.user %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-play"></i> Activities</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Name</td>
      <th>Athlete</td>
      <th>Place</td>
      <th>Final date</td>
    </tr>
    </thead>
    <tbody>
    <% @team.activities.each do |activity| %>
        <tr>
          <td><%= link_to activity.name, activity %></td>
          <td><%= link_to activity.user.name, activity.user %></td>
          <td><%= link_to activity.place.name, activity.place %></td>
          <td><%= activity.final_date %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-user"></i> Members</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Athlete</td>
      <th>Joined On</td>
      <th>Activities</td>
    </tr>
    </thead>
    <tbody>
    <% @team.members.each do |athlete| %>
        <tr>
          <td><%= link_to athlete.name, athlete %></td>
          <td><%= @team.isMember?(athlete).date %></td>
          <td><%= athlete.activities.length %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>