<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name) ) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
        <%= f.label :email, {class: "form-label"} %>
        <%= f.email_field :email, {autofocus: true, class: "form-control" } %>
    </div>

    <div class="form-group">
        <%= f.label :password, {class: "form-label"} %>
        <%= f.password_field :password, {autocomplete: "off", class: "form-control" } %>
        <span class="help-block"><% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %></span>
    </div>

    <div class="form-group">
        <%= f.label :password_confirmation, {class: "form-label"} %>
        <%= f.password_field :password_confirmation, {autocomplete: "off", class: "form-control" } %>
    </div>

    <div class="form-group">
        <%= f.submit "Sign up", {class: "btn btn-primary"} %>
    </div>
<% end %>
