<%= form_for(@place) do |f| %>
  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :coordinate_lat %><br>
    <%= f.text_field :coordinate_lat %>
  </div>
  <div class="field">
    <%= f.label :coordinate_long %><br>
    <%= f.text_field :coordinate_long %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
