<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Coordinate lat:</strong>
  <%= @place.coordinate_lat %>
</p>

<p>
  <strong>Coordinate long:</strong>
  <%= @place.coordinate_long %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
