@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
        padding-bottom: 10px;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    body { margin-bottom: 100px; }
    .footer { height: 100px; }
    #footer-menu {  margin: 0; padding: 0; list-style: none; margin-top: 10px; margin-bottom: 20px; float: left; clear: both;}
    #footer-menu li:first-child { margin-left: 0; }
}

@media (max-width: 991px) {
    #userPanel #app-menu ul {width: 390px;margin: 0 auto;}
    #userPanel #app-menu ul li {text-align: left;margin: 0;margin: 0;margin-right: 15px;}
    #userPanel #app-menu ul li:nth-child(3n) { margin-right: 0;}
    #userPanel { height: 130px; }

    .hero h1 {font-size: 28px;}
}

@media (max-width: 635px) {
    #userPanel #healthInfo { width: 240px; float: none; clear: both; margin: 0 auto;}
    #userPanel #app-menu ul { width: 255px;}
    #userPanel #app-menu ul li {text-align: left;margin: 0;margin-right: 15px;}
    #userPanel #app-menu ul li:nth-child(3n) { margin-right: 15px;}
    #userPanel #app-menu ul li:nth-child(even) { margin-right: 0;}
    #userPanel { height: 200px; }

    .hero h1 {font-size: 20px;}

    .sm-mobile-hidden { display: none; }
}