html { position: relative; min-height: 100%; }
body { margin-bottom: 60px; font-family: 'PT Sans';}
.red { color: red; }
.green { color: green; }
.black{ color: black; }
.footer { position: absolute; bottom: 0; width: 100%; height: 61px; background-color: #f5f5f5; border-top: 1px solid #ddd; }
body > .container { padding: 60px 15px 30px; }
.footer > .container { padding-right: 15px; padding-left: 15px; }
.footer .text-muted { margin-top: 17px; }
.navbar-brand img { width: 200px; }
.search .form-control { color: #FF6600; }
.search { margin-top: 8px; margin-left: 12px; float: left; }
.search .input-group-btn .btn { border-radius: 4px; }
.search .input-group-btn .btn:hover { border: 1px solid #ccc; }
.search .input-group-btn { width: 160px; }
#footer-menu { list-style: none; margin-top: 17px; float: right;}
#footer-menu li { display: inline-block; margin: 0 10px;}
#footer-menu a { color: #777; }
#footer-menu a:hover, a:active { color: #FF6600; background: transparent; }
a.btn { color: #fff; }
a.btn-default { color: #333; }
a { color: #777; }
a:hover, a:active { color: #FF6600; background: transparent; text-decoration: none; }
h2 { color:#FF6600;}
.field_with_errors { padding: 0; background-color: transparent; display: block; }
.field_with_errors .form-label { color: #a94442; }
.field_with_errors .form-control { border-color: #a94442; }
.form-group-date .form-label { display: block; }
.form-group-date .form-control { display: inline-block;width: auto; }
#userPanel { height: 70px; }
#userPanel #profilePicture { float: left; }
#userPanel #profileInfo { float: left; margin-left: 10px; margin-top: 5px; }
#userPanel #profileInfo h4 { margin: 0; }
#userPanel #healthInfo { float: right; margin-left: 17px; margin-top: 5px; }
#userPanel #healthInfo ul { list-style: none; height: 45px; width: 250px; padding: 0; }
#userPanel #healthInfo ul li { list-style: none; height: 20px; width: 125px; float: left; }
#userPanel #profilePicture img { width: 55px; height: 55px }
#userPanel { height: 110px; }
#userPanel #app-menu { width: 100%; clear: both; float: left; padding: 0;margin: 0;}
#userPanel #app-menu ul {list-style: none; width: 800px; padding: 0; margin: 0 auto;}
#userPanel #app-menu ul li { width: 120px; margin: 0 5px; float: left; text-align: center; }
#userPanel #app-menu ul li a { color: #777; }
#userPanel #app-menu ul li a:hover, a:active { color: #FF6600; text-decoration: none; background: transparent; }
#gmap {width: 100%; height: 400px;}
.home {padding-top: 250px;}
.hero {border-bottom: 1px solid #ccc;border-top: 1px solid #ccc; width: 100%;height: 250px;background: url('../images/hero.bg.jpg') no-repeat;background-position: center -200px; position: absolute; left: 0; top: 51px; }
.hero h1 {color: #fff;font-weight: 700;text-shadow: 1px 1px 2px #000;margin-left:10%;margin-top:55px;margin-bottom:50px;}
h1.indent { margin-left: 60%;}
.hero h1 span { color: #FF6600; }
.page-header h1 { color: #FF6600; }
#responsive .cols { text-align: center; }
#responsive img {width: 150px;}
#responsive #macbook {width: 500px;margin-top: 20px;}
#responsive #ipad {width: 200px;margin-top: 30px;}
.navbar-default .navbar-nav>li>a { color: #777; }
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active { color: #FF6600; }
.red{color:#ea4040}
.black{color:#0a0a0a}
#Gym, #Cycling, #Running, #Football, #Basketball{display:none}
#calendar .week .day { border-top: 1px solid #FF6600;border-left: 1px solid #FF6600;color: #000;background: #f5f5f5;width: 14%;height: 70px;padding: 4px 6px;display: inline-block;margin:0;float: left;overflow: auto;text-align: right;}
#calendar .week .day span {font-weight: bold;color: #909090;}
#calendar .week .day:last-child { border-right: 1px solid #FF6600; }
#calendar .week:last-child .day { border-bottom: 1px solid #FF6600; }
#calendar .calendar-header .day {background:#FF6600;color: #fff;text-align: center;font-weight: bold;height: 40px;padding: 10px 0;overflow: hidden;}
#calendar .week .disabled { background: #CDCDCD; }
#calendar .week .today { background: #FFB380; color:#fff;}
#calendar .week .today span { color:#fff;}
#calendar .week .day ul {float: left;list-style: none;padding: 0;margin: 0;}
#calendar .week .day ul li {color: #000;}
#calendar .week .day ul li a {font-size: 12px;text-transform: capitalize;color: #646464;}
#calendar .week .day ul li a:hover {font-size: 12px;text-transform: capitalize;color: #FF6600;}
.center {text-align: center;}
#calendar .week .day ul li {font-size: 12px;text-transform: capitalize;}
.center {text-align: center;}
