<%= form_for(@team_member) do |f| %>
    <% if @team_member.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Errors!</strong>
      <ul>
        <% @team_member.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>

  <div class="form-group">
    <%= f.label :team_id, class: 'form-label' %>
    <%= f.select :team_id, {@team.name => @team.id}, {}, disabled: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, class: 'form-label' %>
    <%= f.select :user_id, User.all.reject{|u| @team.isMember?(u) || @team.isPendingMember?(u)}.collect{|u| [u.name,u.id]}, {:prompt => "- Select Athlete -"}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Back', edit_team_path(@team), class: 'btn btn-default' %>
  </div>
<% end %>
