<h1>Listing team_members</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>User</th>
      <th>Status</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @team_members.each do |team_member| %>
      <tr>
        <td><%= team_member.team_id %></td>
        <td><%= team_member.user_id %></td>
        <td><%= team_member.status %></td>
        <td><%= team_member.date %></td>
        <td><%= link_to 'Show', team_member %></td>
        <td><%= link_to 'Edit', edit_team_member_path(team_member) %></td>
        <td><%= link_to 'Destroy', team_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team member', new_team_member_path %>
