<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Errors!</strong>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, {class: 'form-control', disabled: 'disabled'} %>
  </div>
  <div class="form-group">
    <%= f.label :photo %><br>
    <%= f.text_field :photo, {class: 'form-control'} %>
  </div>
    <div class="form-group form-group-date">
      <%= f.label :birth_date, {class: 'form-label'} %>
      <%= f.date_select :birth_date, {start_year: Time.now.year-100, end_year: Time.now.year-8}, {class: 'form-control'} %>
    </div>
  <div class="form-group">
    <%= f.label :town %><br>
    <%= f.text_field :town, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :gender %><br>
    <%= f.text_field :gender, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :weight %><br>
    <%= f.text_field :weight, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :height %><br>
    <%= f.text_field :height, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.label :profile_link %><br>
    <%= f.text_field :profile_link, {class: 'form-control'} %>
  </div>
  <div class="form-group">
    <%= f.submit 'Update', {class: 'btn btn-primary'} %>
  </div>
<% end %>
