<div class="page-header">
    <h1>Calendar</h1>

    <hr />

  <h2 class="center"><%= Time.now.strftime('%B') %></h2>
  <div id="calendar">
    <div class="row week calendar-header">
        <div class="day">Monday</div>
        <div class="day">Tuesday</div>
        <div class="day">Wednesday</div>
        <div class="day">Thursday</div>
        <div class="day">Friday</div>
        <div class="day">Saturday</div>
        <div class="day">Sunday</div>
    </div>
    <% @calendar.each do |week| %>
    <div class="row week">
      <% week.each do |day| %>
      <div class="day <% if day.month!=Time.now.month %>disabled<% end %> <% if day.day==Time.now.day %>today<% end %>">
        <span><%= day.day %></span>
        <ul>
          <% @current_user.activities.where('final_date LIKE ?', '%' + day.to_s + '%').each do |activity| %>
          <li><%= link_to '- ' + activity.name, activity %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <% if @current_user.activities.size > 0 %>
  <h1>Map</h1>
  <hr />



    <div id="gmap"></div>

      <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
      <script>
          function initialize() {
              var myLatlng = new google.maps.LatLng(<%= @current_user.activities.first.place.coordinate_lat.to_s %>,<%= @current_user.activities.first.place.coordinate_long.to_s %>);
              var mapOptions = {
                  zoom: 15,
                  center: myLatlng
              }
              var map = new google.maps.Map(document.getElementById("gmap"), mapOptions);

              <% @current_user.activities.each do |activity| %>
              var infowindow<%= activity.id %> = new google.maps.InfoWindow({
                  content: '<div id="content">'+
                          '<div id="siteNotice">'+
                          '</div>'+
                          '<p id="firstHeading" class="firstHeading"><strong>Activity:</strong> <%= link_to activity.name, activity %></p>'+
                          '<div id="bodyContent">'+
                          '</ul>'+
                          '</div>'+
                          '</div>'
              });
              var marker<%= activity.id %> = new google.maps.Marker({
                  position: new google.maps.LatLng(<%= activity.place.coordinate_lat.to_s %>,<%= activity.place.coordinate_long.to_s %>),
                  map: map,
                  icon: 'http://localhost:3000/images/marker.png'
              });
              google.maps.event.addListener(marker<%= activity.id %>, 'click', function() {
                  infowindow<%= activity.id %>.open(map,marker<%= activity.id %>);
              });
              <% end %>
          }
          google.maps.event.addDomListener(window, "load", initialize);

          $(document).ready(function(){ initialize(); });
      </script>
  <% end %>
</div>