<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Birth date</th>
      <th>Town</th>
      <th>Gender</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Profile link</th>
      <th>Access level</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.photo %></td>
        <td><%= user.birth_date %></td>
        <td><%= user.town %></td>
        <td><%= user.gender %></td>
        <td><%= user.weight %></td>
        <td><%= user.height %></td>
        <td><%= user.profile_link %></td>
        <td><%= user.access_level %></td>
        <td><%= user.login_id %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
