<h1>Complete Sign Up</h1>

<%= form_for(@user) do |f| %>
    <% if @user.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Errors!</strong>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, {class: 'form-label'} %>
      <%= f.text_field :name, {class: 'form-control'} %>
    </div>
    <div class="form-group form-group-date">
      <%= f.label :birth_date, {class: 'form-label'} %>
      <%= f.date_select :birth_date, {start_year: Time.now.year-100, end_year: Time.now.year-8}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.label :gender, {class: 'form-label'} %>
      <%= f.select :gender, [['Male', 'Male'], ['Female', 'Female']], {}, {class: 'form-control'} %>
    </div>
    <div class="form-group">
      <%= f.label :weight, 'Weight (kilograms)', {class: 'form-label'} %>
      <%= f.text_field :weight, {class: 'form-control'} %>
      <span class="help-block">(Ex: 76.52)</span>
    </div>
    <div class="form-group">
      <%= f.label :height, 'Height (meters)', {class: 'form-label'} %>
      <%= f.text_field :height, {class: 'form-control'} %>
      <span class="help-block">(Ex: 1.80)</span>
    </div>
    <div class="form-group">
      <%= f.submit 'Complete', {class: 'btn btn-primary'} %>
    </div>
<% end %>
