<div class="page-header">
  <h1><%= @user.name %></h1>
  <% if !@user.photo.blank? %>
      <img class="thumbnail" src="<%= @user.photo %>" style="width: 175px;" />
  <% else %>
      <i><img class="thumbnail" src="http://localhost:3000/images/photo_blank.png"></i>
  <% end %>

  <p>Gender: <%= @user.gender %></p>

  <% if !@user.town.blank? %>
      <p>Town: <%= @user.town %></p>
  <% end %>

</div>
<% if !@user.activities.empty? %>
    <h1 style="color: #269abc">Recent activities</h1>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Sport</th>
          <th>Place</th>
        </tr>
        </thead>

        <tbody>
            <% @user.activities.order(created_at: :desc).limit(5).each do |activity| %>
            <tr>
              <td><%= link_to(activity.name, activity) %></td>
              <td><%= activity.activity_type.name %></td>
              <td><%= activity.place.name %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
    </div>
<% end %>


<% if login_signed_in? %>
    <% if current_login.user %>
        <% if current_login.user != @user %>
            <% if current_login.user.isFriend(@user) %>
                <%= link_to '<i class="glyphicon glyphicon-remove"></i> Unfriend'.html_safe, current_login.user.isFriend(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            <% else if current_login.user.isPendingFriend(@user) %>
                    <%= link_to '<i class="glyphicon glyphicon-ok"></i> Accept'.html_safe, edit_friendship_path(current_login.user.isPendingFriend(@user)), class: 'btn btn-sm btn-primary' %>
                    <%= link_to '<i class="glyphicon glyphicon-remove"></i> Decline'.html_safe, current_login.user.isPendingFriend(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                <% else if current_login.user.isRequestedFriend(@user) %>
                        <%= link_to '<i class="glyphicon glyphicon-remove"></i> Cancel friendship request'.html_safe, current_login.user.isRequestedFriend(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
                    <% else %>
                        <div><%= link_to('<i class="glyphicon glyphicon-user"></i> Request Friendship'.html_safe, friendship_path(@user), {class: "btn btn-primary"}) %></div>
                    <% end %>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
<% end %>