<%= form_for(@challenger) do |f| %>
  <% if @challenger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenger.errors.count, "error") %> prohibited this challenger from being saved:</h2>

      <ul>
      <% @challenger.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :challenge_id %><br>
    <%= f.number_field :challenge_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
