<div class="page-header">
  <h1>About</h1>
</div>
<p>The main goal of this application is to reunite sportsman from all modalities, so that they can share their results on their respective sports, even if they are professionals or amateurs.</p>

<p>This application is meant to have an impact on society in terms of public health and the practice of sports since it will raise the competitiveness.</p>

<p>In a more technical way this application interacts with the users using a web interface implemented with the newest technologies HTML5, CSS3, Javascript (JQuery).</p>

<p>For the web interface to work it needs a server to support it and was implemented in Ruby using the RubyOnRails framework.</p>
