<div class="home">
  <div class="hero">
    <h1>Start tracking your sports activities now!</h1>
    <h1 class="indent">Sign Up it's <span>free</span>.</h1>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h2>Activities</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod volutpat sem ut dapibus. Sed at libero auctor, hendrerit elit vitae, blandit turpis. Vivamus et blandit leo, at posuere tellus. In dictum cursus urna cursus posuere. Pellentesque leo magna, ultrices a sagittis eu, tincidunt nec massa. Duis efficitur eu eros eleifend blandit. Curabitur et lacus velit. Nullam ultrices semper bibendum. Mauris sed fermentum dui.</p>
    </div>
    <div class="col-lg-4">
      <h2>Teams</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod volutpat sem ut dapibus. Sed at libero auctor, hendrerit elit vitae, blandit turpis. Vivamus et blandit leo, at posuere tellus. In dictum cursus urna cursus posuere. Pellentesque leo magna, ultrices a sagittis eu, tincidunt nec massa. Duis efficitur eu eros eleifend blandit. Curabitur et lacus velit. Nullam ultrices semper bibendum. Mauris sed fermentum dui.</p>
    </div>
    <div class="col-lg-4">
      <h2>Challenges</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod volutpat sem ut dapibus. Sed at libero auctor, hendrerit elit vitae, blandit turpis. Vivamus et blandit leo, at posuere tellus. In dictum cursus urna cursus posuere. Pellentesque leo magna, ultrices a sagittis eu, tincidunt nec massa. Duis efficitur eu eros eleifend blandit. Curabitur et lacus velit. Nullam ultrices semper bibendum. Mauris sed fermentum dui.</p>
    </div>
  </div>
    <hr />
  <div id="responsive" class="row">
    <h2>Responsive App</h2>

    <br />

    <div class="row">
        <div class="cols col-lg-3"><img src="<%= image_url('iphone.png') %>" /></div>
        <div class="cols col-lg-6"><img id="macbook" src="<%= image_url('macbook.png') %>" /></div>
        <div class="cols col-lg-3"><img id="ipad" src="<%= image_url('ipad.png') %>" /></div>
    </div>
  </div>
</div>
