<div class="page-header">
    <h1>Leaderboards</h1>
</div>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-user"></i> Athletes</h2>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Activities</th>
        </tr>
    </thead>
    <tbody>
        <% rank = 1 %>
        <% @users_leaderboard.each do |user| %>
        <tr>
            <td><%= rank %></td>
            <td><%= link_to user.name, user %></td>
            <td><%= user.activities.size %></td>
        </tr>
        <% rank = rank+1 %>
        <% end %>
    </tbody>
</table>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-flag"></i> Teams</h2>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Activities</th>
  </tr>
  </thead>
  <tbody>
  <% rank = 1 %>
  <% @teams_leaderboard.each do |team| %>
      <tr>
        <td><%= rank %></td>
        <td><%= link_to team.name, team %></td>
        <td><%= team.activities_count %></td>
      </tr>
      <% rank = rank+1 %>
  <% end %>
  </tbody>
</table>