<div class="page-header">
  <h1>Livefeed</h1>
</div>

<% if !@feed.empty? %>
    <% @feed.each do |feed| %>
        <div class="form-group">
          <% if feed[1].user.photo  %>
              <img class="img-circle" src="<%= feed[1].user.photo %>" style="max-width: 100px;" />
          <% else %>
              <i><img class="img-circle" src="http://localhost:3000/images/photo_blank.png" style="max-width: 100px;"></i>
          <% end %>

            <%= feed[0].action %>

          <% if feed[0].object_type == 1 %>
          <% end %>

          <% if feed[0].object_type == 2 %>
              <% if feed[1].logo && !feed[1].logo.blank? %>
                  <img class="img-circle" src="<%= friend_created_team.logo %>" style="max-width: 100px;" />
              <% else %>
                  <i><img class="img-circle" src="http://localhost:3000/images/team_default_logo.png" style="max-width: 100px;"></i>
              <% end %>
          <% end %>

          <% if feed[0].object_type == 3 %>
          <% end %>

          <% if feed[0].object_type == 4 %>

          <% end %>

          <% if feed[0].object_type == 5 %>
              <% if feed[1].team.logo && !feed[1].team.logo.blank? %>
                  <img class="img-circle" src="<%= feed[1].team.logo %>" style="max-width: 100px;" />
              <% else %>
                  <i><img class="img-circle" src="http://localhost:3000/images/team_default_logo.png" style="max-width: 100px;"></i>
              <% end %>
          <% end %>

          <hr/>
        </div>
    <% end %>
<% else %>
    <h3>There is no recent activity!</h3>
<% end %>