<div class="page-header">
  <h1>Popular Sports</h1>
</div>
<p class="lead">The criteria of the popular(top 5) sports is <code>count(activities)</code>.</p>
<p class="text-muted">There are <strong><%= @popular_sports.length %></strong> sports listed here.</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Activities</th>
  </tr>
  </thead>
  <tbody>
  <% @popular_sports.each do |sport| %>
      <tr>
        <td><%= sport.name %></td>
        <td><%= sport.activities_count %></td>
      </tr>
  <% end %>
  </tbody>
</table>