<div class="page-header">
  <h1>Popular Places</h1>
</div>

<% @sports.each do |sport| %>
    <h2><%= sport.name %></h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Activities</th>
      </tr>
      </thead>
      <tbody>
      <% sport.activities do |place| %>
      <tr>
        <td><%= place.title %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

