<div class="page-header">
  <h1>Privacy Policy</h1>
</div>

<div class='innerText'>This privacy policy has been compiled to better serve those who are concerned with how their
  'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information
  security, is information that can be used on its own or with other information to identify, contact, or locate a
  single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear
  understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in
  accordance with our website.<br></div><span id='infoCo'></span><br>
<div class='grayText'>
  <strong>What personal information do we collect from the people that visit our blog, website or app?</strong></div>
<br/>
<div class='innerText'>When ordering or registering on our site, as appropriate, you may be asked to enter your name,
  email address, Health Data or other details to help you with your experience.
</div><br>
<div class='grayText'><strong>When do we collect information?</strong></div><br/>
<div class='innerText'>We collect information from you when you register on our site or enter information on our site.
</div><br><span id='infoUs'></span><br>
<div class='grayText'><strong>How do we use your information? </strong></div><br/>
<div class='innerText'> We may use the information we collect from you when you register, make a purchase, sign up for
  our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features
  in the following ways:<br><br></div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To personalize user's experience and to
  allow us to deliver the type of content and product offerings in which you are most interested.
</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> To improve our website in order to better
  serve you.
</div>

<span id='infoPro'></span><br>

<div class='grayText'><strong>How do we protect visitor information?</strong></div>

<br/>

<div class='innerText'>We do not use vulnerability scanning and/or scanning to PCI standards.</div>
<div class='innerText'>We do not use an SSL certificate</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> We only provide articles and information,
  and we never ask for personal or private information
</div>

<span id='coUs'></span>

<br/>

<div class='grayText'><strong>Do we use 'cookies'?</strong></div>

<br/>

<div class='innerText'>Yes. Cookies are small files that a site or its service provider transfers to your computer's
  hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize
  your browser and capture and remember certain information. For instance, we use cookies to help us remember and
  process the items in your shopping cart. They are also used to help us understand your preferences based on previous
  or current site activity, which enables us to provide you with improved services. We also use cookies to help us
  compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools
  in the future.
</div>
<div class='innerText'><br><strong>We use cookies to:</strong></div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Understand and save user's preferences for
  future visits.
</div>
<div class='innerText'><br>You can choose to have your computer warn you each time a cookie is being sent, or you can
  choose to turn off all cookies. You do this through your browser (like Internet Explorer) settings. Each browser is a
  little different, so look at your browser's Help menu to learn the correct way to modify your cookies.<br></div>

<br/>

<div class='innerText'>If you disable cookies off, some features will be disabled It won't affect the users experience
  that make your site experience more efficient and some of our services will not function properly.
</div>

<br>

<div class='innerText'>However, you can still place orders .</div>

<br>

<div class='grayText'><strong>Third Party Disclosure</strong></div>

<br/>

<div class='innerText'>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable
  information unless we provide you with advance notice. This does not include website hosting partners and other
  parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties
  agree to keep this information confidential. We may also release your information when we believe release is
  appropriate to comply with the law, enforce our site policies, or protect ours or others' rights, property, or safety.
  <br><br> However, non-personally identifiable visitor information may be provided to other parties for marketing,
  advertising, or other uses.
</div>

<br>

<div class='grayText'><strong>Third party links</strong></div>

<br/>

<div class='innerText'>Occasionally, at our discretion, we may include or offer third party products or services on our
  website. These third party sites have separate and independent privacy policies. We therefore have no responsibility
  or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of
  our site and welcome any feedback about these sites.
</div>

<br>

<div class='blueText'><h2>Google</h2></div><br/>
<div class='innerText'>Google's advertising requirements can be summed up by Google's Advertising Principles. They are
  put in place to provide a positive experience for users. <a href="https://support.google.com/adwordspolicy/answer/1316548?hl=en">https://support.google.com/adwordspolicy/answer/1316548?hl=en</a>
  <br><br></div>
<div class='innerText'>We have not enabled Google AdSense on our site but we may do so in the future.</div><br>
<div class='blueText'><h2>California Online Privacy Protection Act</h2></div><br/>
<div class='innerText'>CalOPPA is the first state law in the nation to require commercial websites and online services
  to post a privacy policy. The law's reach stretches well beyond California to require a person or company in the
  United States (and conceivably the world) that operates websites collecting personally identifiable information from
  California consumers to post a conspicuous privacy policy on its website stating exactly the information being
  collected and those individuals with whom it is being shared, and to comply with this policy. - See more at:
  <a href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf" target="_blank">http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf</a><br></div>
<div class='innerText'><br><strong>According to CalOPPA we agree to the following:</strong></div>
<div class='innerText'>Users can visit our site anonymously</div>
<div class='innerText'>Once this privacy policy is created, we will add a link to it on our home page, or as a minimum
  on the first significant page after entering our website.
</div>
<div class='innerText'>Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page
  specified above.
</div>
<div class='innerText'><br>Users will be notified of any privacy policy changes:</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> On our Privacy Policy Page</div>
<div class='innerText'>Users are able to change their personal information:</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> By logging in to their account</div>
<div class='innerText'><br><strong>How does our site handle do not track signals?</strong></div>
<div class='innerText'>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not
  Track (DNT) browser mechanism is in place.
</div>
<div class='innerText'><br><strong>Does our site allow third party behavioral tracking?</strong></div>
<div class='innerText'>It's also important to note that we do not allow third party behavioral tracking</div>
<br>
<div class='blueText'><h2>COPPA (Children Online Privacy Protection Act)</h2></div><br/>
<div class='innerText'>When it comes to the collection of personal information from children under 13, the Children's
  Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer
  protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to
  protect children's privacy and safety online.<br><br></div>
<div class='innerText'>We do not specifically market to children under 13.</div><br>
<div class='blueText'><h2>Fair Information Practices</h2></div><br/>
<div class='innerText'>The Fair Information Practices Principles form the backbone of privacy law in the United States
  and the concepts they include have played a significant role in the development of data protection laws around the
  globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply
  with the various privacy laws that protect personal information.<br><br></div>
<div class='innerText'>
  <strong>In order to be in line with Fair Information Practices we will take the following responsive action, should a
    data breach occur:</strong></div>
<div class='innerText'>We will notify the users via email</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 1 business day</div>
<div class='innerText'>We will notify the users via in site notification</div>
<div class='innerText'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>&bull;</strong> Within 1 business day</div>
<div class='innerText'><br>We also agree to the individual redress principle, which requires that individuals have a
  right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This
  principle requires not only that individuals have enforceable rights against data users, but also that individuals
  have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.
</div><br>
<div class='blueText'><h2>Contacting Us</h2></div><br/>
<div class='innerText'>If there are any questions regarding this privacy policy you may contact us using the information
  below.<br><br></div>
<div class='innerText'>ActivityTrak.app</div>
<div class='innerText'>Lisbon</div>
<div class='innerText'>Portugal</div>
<div class='innerText'>ask@activitytrak.app</div>

<div class='innerText'><br>Last Edited on 2014-11-18</div></div>
