<div class="page-header">
    <h1>Search Results:</h1>
</div>

<% if !@users.empty? %>
    <div class="page-header">
        <h2>Users</h2>
    </div>
    <ul>
      <% @users.each do |user| %>
          <li><%= link_to(user.name, user) %></li>
      <% end %>
    </ul>

    <hr />
<% end %>

<% if !@teams.empty? %>
    <div class="page-header">
        <h2>Teams</h2>
    </div>
    <ul>
      <% @teams.each do |team| %>
          <li><%= link_to(team.name, team) %></li>
      <% end %>
    </ul>

    <hr />
<% end %>

<% if !@places.empty? %>
    <div class="page-header">
        <h2>Places</h2>
    </div>
    <ul>
      <% @places.each do |place| %>
          <li><%= link_to(place.name, place) %></li>
      <% end %>
    </ul>

    <hr />
<% end %>

<% if @users.empty? && @teams.empty? && @places.empty? %>
    <ul>
      <li>No results found!</li>
    </ul>
<% end %>