<div class="page-header">
  <h2><i class="glyphicon glyphicon-envelope"></i> Pending Invites</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Activities</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @pending_friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.name, friend %></td>
          <td><%= friend.activities.length %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-ok"></i>'.html_safe, edit_friendship_path(@current_user.isPendingFriend(friend)), class: 'btn btn-sm btn-default' %>
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, @current_user.isPendingFriend(friend), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-send"></i> Requested Invites</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Activities</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @request_friends.each do |friend| %>
        <tr>
          <td><%= link_to friend.name, friend %></td>
          <td><%= friend.activities.length %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, @current_user.isRequestedFriend(friend), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
  <h1><i class="glyphicon glyphicon-user"></i> My Friends</h1>
</div>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Activities</th>
      <th>Friendship Since</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @friendships.each do |friendship| %>
      <% if friendship.status==2 %>
      <tr>
        <td><%= link_to friendship.friend.name, friendship.friend %></td>
        <td><%= friendship.friend.activities.length %></td>
        <td><%= friendship.date %></td>
        <td>
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, friendship, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
</div>
