<h1>Listing challenges</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>Final date</th>
      <th>Max tries</th>
      <th>User</th>
      <th>Place</th>
      <th>Activity type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.name %></td>
        <td><%= challenge.start_date %></td>
        <td><%= challenge.final_date %></td>
        <td><%= challenge.max_tries %></td>
        <td><%= challenge.user_id %></td>
        <td><%= challenge.place_id %></td>
        <td><%= challenge.activity_type_id %></td>
        <td><%= link_to 'Show', challenge %></td>
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenge', new_challenge_path %>
