<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenge.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @challenge.start_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @challenge.final_date %>
</p>

<p>
  <strong>Max tries:</strong>
  <%= @challenge.max_tries %>
</p>

<p>
  <strong>User:</strong>
  <%= @challenge.user_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @challenge.place_id %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @challenge.activity_type_id %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
