<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
        <%= f.label :email, {class: "form-label"} %>
        <%= f.email_field :email, {autofocus: true, class: "form-control" } %>
    </div>

    <div class="form-group">
        <%= f.label :password, {class: "form-label"} %>
        <%= f.password_field :password, {autocomplete: "off", class: "form-control" } %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="checkbox ">
        <label>
            <%= f.check_box :remember_me %>
            Remember me?
        </label>
    </div>
    <% end -%>

    <div class="form-group">
        <%= f.submit "Login", {class: "btn btn-primary"} %>
        <%= link_to "Forgot your Password?", new_password_path('login'), { class: "btn btn-warning"} %>
    </div>
<% end %>
