<h1>Listing activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Activity type</th>
      <th>User</th>
      <th>Place</th>
      <th>Start date</th>
      <th>Final date</th>
      <th>Json object</th>
      <th>Challenge</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.activity_type_id %></td>
        <td><%= activity.user_id %></td>
        <td><%= activity.place_id %></td>
        <td><%= activity.start_date %></td>
        <td><%= activity.final_date %></td>
        <td><%= activity.json_object %></td>
        <td><%= activity.challenge_id %></td>
        <td><%= link_to 'Show', activity %></td>
        <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
        <td><%= link_to 'Destroy', activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_activity_path %>
