<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Activity type:</strong>
  <%= @activity.activity_type_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @activity.user_id %>
</p>

<p>
  <strong>Place:</strong>
  <%= @activity.place_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @activity.start_date %>
</p>

<p>
  <strong>Final date:</strong>
  <%= @activity.final_date %>
</p>

<p>
  <strong>Json object:</strong>
  <%= @activity.json_object %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @activity.challenge_id %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
