<%= form_for(@challenge) do |f| %>
    <% if @challenge.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Errors!</strong>
          <ul>
            <% @challenge.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="form-group">
    <%= f.label :name, class: "form-label" %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group form-group-date">
    <%= f.label :start_date, class: "form-label" %><br>
    <%= f.datetime_select :start_date, {}, class: "form-control" %>
  </div>
  <div class="form-group form-group-date">
    <%= f.label :final_date, class: "form-label" %><br>
    <%= f.datetime_select :final_date, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :max_tries, class: "form-label" %><br>
    <%= f.number_field :max_tries, class: "form-control" %>
  </div>
    <div class="form-group">
      <%= f.label :place_id, class: 'form-label' %>
      <%= f.select :place_id, Place.all.collect{|p| [p.name,p.id]}, {:prompt => "- Select Place -"}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :activity_type_id, 'Sport', class: 'form-label' %>
      <%= f.select :activity_type_id, ActivityType.all.collect{|at| [at.name,at.id]}, {:prompt => "- Select Sport -"}, class: 'form-control' %>
    </div>
  <div class="form-group">
    <%= f.submit nil, class: "btn btn-primary" %>
    <%= link_to 'Back', challenges_path, class: 'btn btn-default' %>
  </div>
<% end %>
