<div class="page-header">
  <h1><i class="glyphicon glyphicon-screenshot"></i> Editing Challenge</h1>
</div>

<%= render 'form' %>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-user"></i> Competitors</h2>
</div>

<p><%= link_to 'Add Competitors', new_challenger_path, class: 'btn btn-primary' %></p>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Athlete</td>
      <th>Status</td>
      <th>Actions</td>
    </tr>
    </thead>
    <tbody>
    <% @challenge.challengers.each do |challenger| %>
        <tr>
          <td><%= link_to challenger.user.name, challenger.user %></td>
          <% if @challenge.isPendingCompetitor?(challenger.user) %>
              <td>Pending Invite</td>
              <td>
                <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, @challenge.isPendingCompetitor?(challenger.user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              </td>
          <% else %>
              <td>Competing</td>
              <td>
                <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, @challenge.isCompetitor?(challenger.user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
              </td>
          <% end %>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>
