<div class="page-header">
  <h2><i class="glyphicon glyphicon-envelope"></i> Pending Invites</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Challenger</th>
      <th>Start date</th>
      <th>Final date</th>
      <th>Max tries</th>
      <th>Place</th>
      <th>Sport</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @challenges_pending.each do |challenge| %>
    <% if !challenge.isOver %>
        <tr>
          <td><%= link_to challenge.name, challenge %></td>
          <td><%= link_to challenge.user.name, challenge.user %></td>
          <td><%= challenge.start_date %></td>
          <td><%= challenge.final_date %></td>
          <td><%= challenge.max_tries %></td>
          <td><%= link_to challenge.place.name, challenge.place %></td>
          <td><%= challenge.activity_type.name %></td>
          <td>
            <%= link_to '<i class="glyphicon glyphicon-ok"></i>'.html_safe, challenge.isPendingCompetitor?(@current_user), class: 'btn btn-sm btn-default' %>
            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, challenge.isPendingCompetitor?(@current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          </td>
        </tr>
    <% end %>
    <% end %>
    </tbody>
  </table>
</div>

<div class="page-header">
    <h1><i class="glyphicon glyphicon-screenshot"></i> My Challenges</h1>
</div>

<p><%= link_to 'New Challenge', new_challenge_path, class: 'btn btn-primary' %></p>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Challenger</th>
      <th>Status</th>
      <th>Final date</th>
      <th>Max tries</th>
      <th>Place</th>
      <th>Sport</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @challenges.each do |challenge| %>
      <tr>
        <td><%= challenge.name %></td>
        <td><%= challenge.user.name %></td>
        <td><% if challenge.isOver %>
           Finished
           <% else %>
           Active
           <% end %></td>
        <td><%= challenge.final_date %></td>
        <td><%= challenge.max_tries %></td>
        <td><%= link_to challenge.place.name, challenge.place %></td>
        <td><%= challenge.activity_type.name %></td>
        <td>
          <%= link_to '<i class="glyphicon glyphicon-list-alt"></i>'.html_safe, challenge, class: 'btn btn-sm btn-default' %>
          <% if !challenge.isOver %>
          <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, challenge.isCompetitor?(@current_user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            <% end %>
          <% if challenge.user.id == @current_user.id && !challenge.isOver %>
            <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_challenge_path(challenge), class: 'btn btn-sm btn-warning' %>
            <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, challenge, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>