<div class="page-header">
  <h1><i class="glyphicon glyphicon-screenshot"></i> <%= @challenge.name %></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <tr>
      <td><strong>Sport:</strong></td>
      <td><%= @challenge.activity_type.name %></td>
    </tr>
    <tr>
      <td><strong>Athlete:</strong></td>
      <td><%= link_to @challenge.user.name, @challenge.user %></td>
    </tr>
    <tr>
      <td><strong>Place:</strong></td>
      <td><%= @challenge.place.name %></td>
    </tr>
    <tr>
      <td><strong>Status:</strong></td>
      <td>
        <% if @challenge.isOver %>
        Finished
        <% else %>
        Active
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Start date:</strong></td>
      <td><%= @challenge.start_date %></td>
    </tr>
    <tr>
      <td><strong>End date:</strong></td>
      <td><%= @challenge.final_date %></td>
    </tr>
    <tr>
      <td><strong>Max tries:</strong></td>
      <td><%= @challenge.max_tries %></td>
    </tr>
  </table>
</div>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-user"></i> Competitors</h2>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <th>Athlete</td>
      <th>Activities</td>
    </tr>
    </thead>
    <tbody>
        <% @challenge.challenger_users.each do |athlete| %>
        <tr>
          <td><%= link_to athlete.name, athlete %> <% if @challenge.isWinner(athlete) %><span class="winner">WINNER</span><% end %></td>
          <td><%= athlete.activities.length %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
