

<%= form_for(@activity) do |f| %>
    <% if @activity.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Errors!</strong>
          <ul>
            <% @activity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group">
      <%= f.label :name, class: 'form-label' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div id="act_type" class="form-group">
      <%= f.label :activity_type_id, 'Sport', class: 'form-label' %>
      <%= f.select :activity_type_id, ActivityType.all.collect{|at| [at.name,at.id]}, {:prompt => "- Select Sport -"}, class: 'form-control' %>
    </div>
      <div class="form-group">
      <div id="Gym" class="act_type_div form-inline">
        <%= f.label "Muscles:", class: 'form-label' %>
        <%= text_field :json_object, 'muscles', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Max weight:", class: 'form-label' %>
        <%= text_field :json_object, 'weight', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Max reps:", class: 'form-label' %>
        <%= text_field :json_object, 'reps', {class: 'form-control', disabled: 'disabled'} %>
      </div>
      <div id="Running" class="act_type_div form-inline">
        <%= f.label "Distance:", class: 'form-label' %>
        <%= text_field :json_object, 'distance', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Heart rate:", class: 'form-label' %>
        <%= text_field :json_object, 'hrate', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Running path (gpx):", class: 'form-label' %>
        <%= file_field :json_object_gpx, 'gpx', {class: 'filestyle', disabled: 'disabled'} %>
      </div>
      <div id="Cycling" class="act_type_div form-inline">
        <%= f.label "Distance:", class: 'form-label' %>
        <%= text_field :json_object, 'distance', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Heart rate:", class: 'form-label' %>
        <%= text_field :json_object_hrate, 'hrate', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Cycling path (gpx):", class: 'form-label' %>
        <%= file_field :json_object, 'gpx', {class: 'filestyle', disabled: 'disabled'} %>
      </div>
      <div id="Football" class="act_type_div form-inline">
        <%= f.label "Distance:", class: 'form-label' %>
        <%= text_field :json_object, 'distance', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Goals:", class: 'form-label' %>
        <%= text_field :json_object, 'goals', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Defenses:", class: 'form-label' %>
        <%= text_field :json_object, 'defenses', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Faults:", class: 'form-label' %>
        <%= file_field :json_object, 'faults', {class: 'form-control', disabled: 'disabled'} %>
      </div>
      <div id="Basketball" class="act_type_div form-inline">
        <%= f.label "Distance:", class: 'form-label' %>
        <%= text_field :json_object, 'distance', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Scores:", class: 'form-label' %>
        <%= text_field :json_object, 'scores', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Blocks:", class: 'form-label' %>
        <%= text_field :json_object, 'blocks', {class: 'form-control', disabled: 'disabled'} %>
        <%= f.label "Faults:", class: 'form-label' %>
        <%= text_field :json_object, 'faults', {class: 'form-control', disabled: 'disabled'} %>
      </div>

    </div>
    <div class="form-group">
      <%= f.label :place_id, class: 'form-label' %>
      <%= f.select :place_id, Place.all.collect{|p| [p.name,p.id]}, {:prompt => "- Select Place -"}, class: 'form-control' %>
    </div>
    <div class="form-group form-group-date">
      <%= f.label :start_date, class: 'form-label' %><br>
      <%= f.datetime_select :start_date, {}, class: 'form-control' %>
    </div>
    <div class="form-group form-group-date">
      <%= f.label :final_date, class: 'form-label' %><br>
      <%= f.datetime_select :final_date, {}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :challenge_id, class: 'form-label' %>
      <%= f.select :challenge_id, @current_user.challenges.all.collect{|c| [c.name,c.id]}, {:prompt => "- Select Challenge -"}, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to 'Back', activities_path, class: 'btn btn-default' %>
    </div>
<% end %>