<div class="page-header">
  <h1><i class="glyphicon glyphicon-play"></i> My Activities</h1>
</div>

<p><%= link_to 'New Activity', new_activity_path, class: 'btn btn-primary' %></p>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Sport</th>
      <th>Place</th>
      <th>Start date</th>
      <th>Final date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
        <td><%= activity.name %></td>
        <td><%= activity.activity_type.name %></td>
        <td><%= activity.place.name %></td>
        <td><%= activity.start_date %></td>
        <td><%= activity.final_date %></td>
        <td>
        <%= link_to '<i class="glyphicon glyphicon-list-alt"></i>'.html_safe, activity, {class: 'btn btn-sm btn-default'} %>
        <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_activity_path(activity), {class: 'btn btn-sm btn-warning'} %>
        <%= link_to '<i class="glyphicon glyphicon-trash"></i>'.html_safe, activity, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>