<div class="page-header">
  <h1><i class="glyphicon glyphicon-play"></i> <%= @activity.name %></h1>
</div>

<div class="table-responsive">
<table class="table table-striped table-bordered">
    <tr>
        <td><strong>Sport:</strong></td>
        <td><%= @activity.activity_type.name %></td>
    </tr>
    <tr>
        <td><strong>Athlete:</strong></td>
        <td><%= link_to @activity.user.name, @activity.user %></td>
    </tr>
    <tr>
        <td><strong>Place:</strong></td>
        <td><%= @activity.place.name %></td>
    </tr>
    <tr>
        <td><strong>Start date:</strong></td>
        <td><%= @activity.start_date %></td>
    </tr>
    <tr>
        <td><strong>End date:</strong></td>
        <td><%= @activity.final_date %></td>
    </tr>
    <tr>
        <td><strong>Challenge:</strong></td>
        <% if @activity.challenge %>
        <td><%= link_to @activity.challenge.name, @activity.challenge %></td>
        <% else %>
        <td>None</td>
        <% end %>
    </tr>
</table>
</div>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-map-marker"></i> Map</h2>
</div>

<div id="gmap"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(<%= @activity.place.coordinate_lat.to_s %>,<%= @activity.place.coordinate_long.to_s %>);
        var mapOptions = {
            zoom: 15,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById("gmap"), mapOptions);


        var marker<%= @activity.id %> = new google.maps.Marker({
            position: new google.maps.LatLng(<%= @activity.place.coordinate_lat.to_s %>,<%= @activity.place.coordinate_long.to_s %>),
            map: map,
            icon: 'http://localhost:3000/images/marker.png'
        });
    }
    google.maps.event.addDomListener(window, "load", initialize);

    $(document).ready(function(){ initialize(); });
</script>

<div class="page-header">
  <h2><i class="glyphicon glyphicon-list-alt"></i> Details</h2>
</div>

<div class="table-responsive">
<table class="table table-striped table-bordered">
  <% if @activity.activity_type.name=="Gym" %>
      <tr>
        <td><strong>Muscles:</strong></td>
        <td><%= @activity_object["muscles"] %></td>
      </tr>
      <tr>
        <td><strong>Max Weight:</strong></td>
        <td><%= @activity_object["max_weight"] %></td>
      </tr>
      <tr>
        <td><strong>Max Reps:</strong></td>
        <td><%= @activity_object["max_reps"] %></td>
      </tr>
  <% end %>
    <% if @activity.activity_type.name=="Running" %>
    <tr>
        <td><strong>Distance:</strong></td>
        <td><%= @activity_object["distance"] %> m</td>
    </tr>
      <tr>
        <td><strong>Average Velocity:</strong></td>
        <td><%= number_with_precision @activity_object["avg_velocity"], :precision => 1 %> km/h</td>
      </tr>
      <tr>
        <td><strong>Heart Rate:</strong></td>
        <td><%= @activity_object["heart_rate"] %> bpm</td>
      </tr>
    <% end %>
  <% if @activity.activity_type.name=="Cycling" %>
      <tr>
        <td><strong>Distance:</strong></td>
        <td><%= @activity_object["distance"] %> m</td>
      </tr>
      <tr>
        <td><strong>Average Velocity:</strong></td>
        <td><%= number_with_precision @activity_object["avg_velocity"], :precision => 1 %> km/h</td>
      </tr>
      <tr>
        <td><strong>Heart Rate:</strong></td>
        <td><%= @activity_object["heart_rate"] %> bpm</td>
      </tr>
  <% end %>
      <% if @activity.activity_type.name=="Football" %>
          <tr>
            <td><strong>Distance:</strong></td>
            <td><%= @activity_object["distance"] %> m</td>
          </tr>
          <tr>
            <td><strong>Average Velocity:</strong></td>
            <td><%= number_with_precision @activity_object["avg_velocity"], :precision => 1 %> km/h</td>
          </tr>
          <tr>
            <td><strong>Goals:</strong></td>
            <td><%= @activity_object["goals"] %></td>
          </tr>
      <tr>
        <td><strong>Defenses:</strong></td>
        <td><%= @activity_object["defenses"] %></td>
      </tr>
      <tr>
        <td><strong>Faults:</strong></td>
        <td><%= @activity_object["faults"] %></td>
      </tr>
      <% end %>
  <% if @activity.activity_type.name=="Basketball" %>
      <tr>
        <td><strong>Distance:</strong></td>
        <td><%= @activity_object["distance"] %> m</td>
      </tr>
      <tr>
        <td><strong>Average Velocity:</strong></td>
        <td><%= number_with_precision @activity_object["avg_velocity"], :precision => 1 %> km/h</td>
      </tr>
      <tr>
        <td><strong>Scores:</strong></td>
        <td><%= @activity_object["scores"] %></td>
      </tr>
      <tr>
        <td><strong>Blocks:</strong></td>
        <td><%= @activity_object["blocks"] %></td>
      </tr>
      <tr>
        <td><strong>Faults:</strong></td>
        <td><%= @activity_object["faults"] %></td>
      </tr>
  <% end %>
</table>
</div>

