<%= form_for(@challenger) do |f| %>
    <% if @challenger.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Errors!</strong>
          <ul>
            <% @challenger.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="form-group">
    <%= f.label :challenge_id, class: 'form-label' %><br>
    <%= f.select :challenge_id, {@challenge.name => @challenge.id}, {}, disabled: true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :user_id, class: 'form-label' %><br>
    <%= f.select :user_id, User.all.reject{|u| @challenge.isCompetitor?(u) || @challenge.isPendingCompetitor?(u)}.collect{|u| [u.name,u.id]}, {:prompt => "- Select Athlete -"}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Back', edit_team_path(@challenge), class: 'btn btn-default' %>
  </div>
<% end %>
