<h1>Listing challengers</h1>

<table>
  <thead>
    <tr>
      <th>Challenge</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challengers.each do |challenger| %>
      <tr>
        <td><%= challenger.challenge_id %></td>
        <td><%= challenger.user_id %></td>
        <td><%= challenger.status %></td>
        <td><%= link_to 'Show', challenger %></td>
        <td><%= link_to 'Edit', edit_challenger_path(challenger) %></td>
        <td><%= link_to 'Destroy', challenger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenger', new_challenger_path %>
