<p id="notice"><%= notice %></p>

<p>
  <strong>Challenge:</strong>
  <%= @challenger.challenge_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @challenger.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @challenger.status %>
</p>

<%= link_to 'Edit', edit_challenger_path(@challenger) %> |
<%= link_to 'Back', challengers_path %>
