<%= form_for(@place) do |f| %>
    <% if @place.errors.any? %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <strong>Errors!</strong>
          <ul>
            <% @place.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'form-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :coordinate_lat, class: 'form-label' %><br>
    <%= f.text_field :coordinate_lat, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :coordinate_long, class: 'form-label' %><br>
    <%= f.text_field :coordinate_long, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= link_to 'Back', places_path, class: 'btn btn-default' %>
  </div>
<% end %>
