<div class="page-header">
  <h1><i class="glyphicon glyphicon-map-marker"></i> Places</h1>
</div>

<p><%= link_to 'Add Place', new_place_path, class: 'btn btn-primary' %></p>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Coordinate lat</th>
      <th>Coordinate long</th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place %></td>
        <td><%= place.coordinate_lat %></td>
        <td><%= place.coordinate_long %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


