<div class="page-header">
  <h1><i class="glyphicon glyphicon-map-marker"></i> <%= @place.name %></h1>
</div>

<% if login_signed_in? %>
<p><%= link_to 'Back', places_path, class: 'btn btn-default' %></p>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-bordered">
        <tr>
          <td><strong>Coordinate Lat:</strong></td>
          <td><%= @place.coordinate_lat %></td>
        </tr>
        <tr>
          <td><strong>Coordinate Long:</strong></td>
          <td><%= @place.coordinate_long %></td>
        </tr>
  </table>
</div>

<div id="gmap"></div>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    function initialize() {
        var myLatlng = new google.maps.LatLng(<%= @place.coordinate_lat.to_s %>,<%= @place.coordinate_long.to_s %>);
        var mapOptions = {
            zoom: 15,
            center: myLatlng
        }
        var map = new google.maps.Map(document.getElementById("gmap"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: '<%= @place.name %>',
            zIndex: 999
        });

        <% @current_user.friends_activities.each do |activity| %>
        var infowindow<%= activity.id %> = new google.maps.InfoWindow({
            content: '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<p id="firstHeading" class="firstHeading"><strong>Activity:</strong> <%= link_to activity.name, activity %></p>'+
                    '<div id="bodyContent">'+
                    '<p><strong>Athlete:</strong> <%= link_to activity.user.name, activity.user %></p>'+
                    '</ul>'+
                    '</div>'+
                    '</div>'
        });
        var marker<%= activity.id %> = new google.maps.Marker({
            position: new google.maps.LatLng(<%= activity.place.coordinate_lat.to_s %>,<%= activity.place.coordinate_long.to_s %>),
            map: map,
            icon: 'http://localhost:3000/images/marker.png'
        });
        google.maps.event.addListener(marker<%= activity.id %>, 'click', function() {
            infowindow<%= activity.id %>.open(map,marker<%= activity.id %>);
        });
        <% end %>
    }
    google.maps.event.addDomListener(window, "load", initialize);

    $(document).ready(function(){ initialize(); });
</script>