<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" href="<%= image_url('favicon.ico') %>" />
    <title>ActivityTrak</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= stylesheet_url('bootstrap.min.css') %>" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="<%= stylesheet_url('stylesheet.css') %>" rel="stylesheet" />
    <link href="<%= stylesheet_url('responsive.css') %>" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<%= root_url %>"><img src="<%= image_url('logo.png') %>" alt="ActivityTrak" /></a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul id="login-menu" class="nav navbar-nav navbar-right">
                    <% if login_signed_in? %>
                        <% if current_login.user %>
                            <% if @current_user.isAdmin? %>
                            <li><%= link_to(raw('<i class="glyphicon glyphicon-lock black"></i> Admin Panel'), admin_users_path) %> </li>
                            <% end %>
                        <% end %>
                        <li><%= link_to(raw('<i class="glyphicon glyphicon-off red"></i> Logout'), destroy_login_session_path, :method => :delete) %> </li>
                    <% else %>
                        <li><%= link_to('Register', new_login_registration_path)  %></li>
                        <li><%= link_to('Login', new_login_session_path)  %></li>
                    <% end %>
                </ul>
                <ul class="nav navbar-nav">
                    <li <% if current_page?(controller: '/welcome', action: 'index')
                             concat 'class="active"'.html_safe end %>><a href="<%= root_url %>">Home</a></li>
                    <li <% if current_page?(controller: '/welcome', action: 'leaderboards')
                             concat 'class="active"'.html_safe end %>><a href="<%= root_url + 'leaderboards' %>">Leaderboards</a></li>
                    <li <% if current_page?(controller: '/welcome', action: 'popular_sports')
                             concat 'class="active"'.html_safe end %>><a href="<%= root_url + 'popular_sports' %>">Popular Sports</a></li>
                    <li <% if current_page?(controller: '/welcome', action: 'popular_places')
                             concat 'class="active"'.html_safe end %>><a href="<%= root_url + 'popular_places' %>">Popular Places</a></li>
                    <li>
                      <form class="form-inline search" action="<%= search_path %>" method="get">
                        <div class="input-group input-group-btn">
                          <input class="form-control" type="text" name="value" />
                          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                      </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <% if notice %>
          <div id="welcomeAlert" class="alert alert-info alert-dismissible" role="alert">
            <!--<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
            <%= notice %>
          </div>
      <% end %>

        <% if login_signed_in? %>
            <% if current_login.user %>
            <div id="userPanel" class="well well-sm">
                <div id="profilePicture">
                    <% if !@current_user.photo.blank?  %>
                    <img class="thumbnail" src="<%= @current_user.photo %>" style="max-width: 50px;" />
                    <% else %>
                        <% if @current_user.gender=="Male" %>
                        <img class="thumbnail" src="<%= image_url('photo_blank.png') %>" />
                        <% else %>
                        <img class="thumbnail" src="<%= image_url('photo_blank_female.png') %>" />
                        <% end %>
                    <% end %>
                </div>

                <div id="profileInfo">
                    <h4><%= link_to @current_user.name, @current_user %> <small><%= link_to '<i class="glyphicon glyphicon-cog"></i> <span class="sm-mobile-hidden">Account Settings</span>'.html_safe, edit_user_path(@current_user) %></small></h4>
                    <strong>Age:</strong> <%= @current_user.age %>
                </div>

                <div id="healthInfo">
                    <ul>
                        <li><strong>Height:</strong> <%= @current_user.height %> m</li>
                        <li><strong>Weight:</strong> <%= @current_user.weight %> kg</li>
                        <% if @current_user.bmi>24.9 || @current_user.bmi<18.5 %>
                        <li><strong>BMI:</strong> <span class="bg-danger red"><%= number_with_precision @current_user.bmi, :precision => 1 %></span></li>
                        <% else %>
                        <li><strong>BMI:</strong> <span class="bg-success green"><%= number_with_precision @current_user.bmi, :precision => 1 %></span></li>
                        <% end %>
                        <li><strong>CPD:</strong> <%= number_with_precision @current_user.caloriesPerDay, :precision => 0 %> kcal</li>
                    </ul>
                </div>

                <div id="app-menu">
                    <ul>
                        <li><a href="<%= dashboard_path %>"><i class="glyphicon glyphicon-calendar"></i> Dashboard</a></li>
                        <li><a href="<%= activities_path %>"><i class="glyphicon glyphicon-play"></i> Activities</a></li>
                        <li><a href="<%= challenges_path %>"><i class="glyphicon glyphicon-screenshot"></i> Challenges <small>(<%= @current_user.challenges_participations_pending.length %>)</small></a></li>
                        <li><a href="<%= teams_path %>"><i class="glyphicon glyphicon-bookmark"></i> Teams <small>(<%= @current_user.team_memberships_pending.length %>)</small></a></li>
                        <li><a href="<%= friendships_path %>"><i class="glyphicon glyphicon-user"></i> Friends <small>(<%= @current_user.pending_friends.length %>)</small></a></li>
                      <li><a href="<%= places_path %>"><i class="glyphicon glyphicon-map-marker"></i> Places</a></li>
                    </ul>
                </div>
            </div>
            <% end %>
        <% end %>

        <%= yield %>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="pull-left">
                <p class="text-muted">All rights reserved &copy; 2014 - Developed by Andre Sardo (41785), Pedro Mauricio (41916)</p>
            </div>
            <ul id="footer-menu">
                <li><a href="<%= root_url + 'contact' %>">Contact</a></li>
                <li><a href="<%= root_url + 'about' %>">About</a></li>
                <li><a href="<%= root_url + 'privacy' %>">Privacy Policy</a></li>
            </ul>
        </div>
    </footer>

    <script src="<%= javascript_url('jquery.min.js') %>"></script>
    <script src="<%= javascript_url('bootstrap.min.js') %>"></script>
    <script src="<%= javascript_url('ie10-viewport-bug-workaround.js') %>"></script>
    <script src="<%= javascript_url('bootstrap-filestyle.min.js') %>"></script>
    <%= javascript_include_tag :defaults %>
    <script src="<%= javascript_url('main.js') %>"></script>
    <% if @js %>
        <%= @js.html_safe %>
    <% end %>
</body>
</html>

